[submodule "Implementation/Project/swift-libp2p"]
	path = Implementation/Project/swift-libp2p
	url = git@github.com:bevice1/swift-libp2p.git
[submodule "Implementation/Project/Noise"]
	path = Implementation/Project/Noise
	url = https://github.com/bevice1/swift-libp2p-noise
[submodule "Implementation/Project/Core"]
	path = Implementation/Project/Core
	url = https://github.com/bevice1/swift-libp2p-core
[submodule "Implementation/Project/ChatAppExample-iOS"]
	path = Implementation/Project/ChatAppExample-iOS
	url = /Users/bk/Library/CloudStorage/OneDrive-FHOOe/Master/Masterarbeit/p11/Implementation/Project/ChatAppExample-iOS
